.menuLateral{
    height: 90%;
    width: 20%;
    background-color: #fff;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
    overflow-y: auto;
    background-color: rgb(65, 93, 95);
}
.divInternaMenu{
    border-top: solid 1px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
}
.divInternaMenuIcon{
    height: 10%;
}
/* icone de menu */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 32;
    color: rgb(215, 240, 245);
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
}